@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



body {
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    background-color: rgba(13, 2, 8, 1);
}

.header {
    background-color: rgba(13, 2, 8, 1);
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 2.2rem;
    flex-direction: column;
    align-items: center;
    color: rgba(215, 228, 228, 1);
    font-family: Public Sans, sans-serif;
}

.nav-container {
    border-radius: 1.2rem;
    background-color: rgba(143, 253, 255, 0.2);
    display: flex;
    width: 75%;
    height: 70%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 2.8rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    font-family: Public Sans;
    font-size: 1.1rem;
    font-weight: 400;
    color: #D7E4E4;
}

.heading {
    font-family: Serif;
    font-size: 2.6rem;
    font-weight: 600;
    color: #D7E4E4;
}

.main-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.section-one {
    width: 100%;
    background-color: rgba(13, 2, 8, 1);
    text-align: center;
    color: rgba(215, 228, 228, 1);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-h1 {
    font-size: 7.5rem;
    font-weight: 700;
    font-family: Roboto Serif, serif;
}

.image1 {
    width: 100%;
    border-radius: 1.8rem;
    margin-top: 4rem;
}
.image1:hover{
    transform: scale(0.8);
}

.main-para {
    width: 60%;
    background-color: rgba(13, 2, 8, 1);
    color: rgba(215, 228, 228, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6rem 0;
    font-family: Roboto Serif, serif;
    font-size: 3rem;
    font-weight: 400;
}


.row1 {
    width: 100%;
    padding: 2.25rem 0;
    gap: 3.4rem;
    display: flex;
    align-content: flex-start;

}
.row1 .img1 {
    width: 645px;
    height: 664px;
    border-radius: 1rem;
}
.img1:hover{
    transform: scale(0.8);
}
.row1 .img2 {
    width: 645px;
    height: 443px;
    border-radius: 1rem;

}
.img2:hover{
    transform: scale(0.8);
}
.row2 {
    width: 100%;
    padding: 2.25rem 0;
    display: flex;
    justify-content: end;
}
.row2 .img3 {
    width: 1008px;
    height: 672px;
    border-radius: 1rem;
}
.img3:hover{
    transform: scale(0.8);
}
.row3 {
    width: 100%;
    padding: 2.25rem 0;
    gap: 3.4rem;
    display: flex;
    align-content: flex-start;
}
.row3 .img4 {
    width: 645px;
    height: 443px;
    border-radius: 1rem;

}
.img4:hover{
    transform: scale(0.8);
}
.row3 .img5 {
    width: 645px;
    height: 664px;
    border-radius: 1rem;

}
.img5:hover{
    transform: scale(0.8);
}
.section-three {
    background-color: rgba(13, 2, 8, 1);
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2.4rem 3.4rem;
    color: rgba(215, 228, 228, 1);
    padding: 3.5rem 0;
}

.services-heading {
    font-family: Roboto Serif, serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.services-name {
    width: 45%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Public Sans;
}

.services-row {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 2.4rem 3.4rem;
    margin-top: 1.5rem;
}

.projects {
    display: flex;
    gap: 2.4rem 3.4rem;
    padding: 3.4rem 0;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 3.4rem;
}

.project-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.5rem;
}

.project1 {
    width: 416px;
    height: 319px;
    border-radius: 1rem;
}
.project1:hover{
    transform: scale(0.8);
}
.project2 {
    width: 416px;
    Height: 230px;
    border-radius: 1rem;
}
.project2:hover{
    transform: scale(0.8);
}
.project3 {
    width: 416px;
    height: 412px;
    border-radius: 1rem;
}
.project3:hover{
    transform: scale(0.8);
}
.project4 {
    width: 416px;
    height: 412px;
    border-radius: 1rem;
}
.project4:hover{
    transform: scale(0.8);
}
.project5 {
    width: 416px;
    height: 319px;
    border-radius: 1rem;
}
.project5:hover{
    transform: scale(0.8);
}
.project6 {
    width: 416px;
    height: 230px;
    border-radius: 1rem;
}
.project6:hover{
    transform: scale(0.8);
}
.project7 {
    width: 416px;
    height: 230px;
    border-radius: 1rem;
}
.project7:hover{
    transform: scale(0.8);
}
.project8 {
    width: 416px;
    height: 412px;
    border-radius: 1rem;
}
.project8:hover{
    transform: scale(0.8);
}
.project9 {
    width: 416px;
    height: 319px;
    border-radius: 1rem;
}
.project9:hover{
    transform: scale(0.8);
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-no {
    text-align: left;
    margin: 0;
    color: rgba(215, 228, 228, 1);
    font-family: Public Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.project-name {
    text-align: left;
    margin: 0;
    color: rgba(209, 235, 235, 0.62);
    font-family: Public Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.section-five {
    width: 100%;
    background-color: rgba(13, 2, 8, 1);
    text-align: center;
    padding: 3.4rem 0;
}

.client-heading {
    color: rgba(215, 228, 228, 1);
    font-family: Roboto Serif, serif;
    font-size: 3rem;
    font-weight: 700;
}

.clients {
    width: 100%;
    display: flex;
    gap: 2.2rem;
    margin-top: 3.4rem;
    padding-bottom: 1.4rem;
}

.card {
    width: 100%;
    height: fit-content;
    border-radius: 1.4rem;
    background-color: rgba(184, 224, 224, 0.12);
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transform: scale(1.1);
}

.client {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.client-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.about-client {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: left;
}

.about-client h3 {
    margin: 0;
    padding: 0;
}

.about-client p {
    margin: 0;
    padding: 0;
}

.client-name {
    color: rgba(215, 228, 228, 1);
    font-family: Public Sans, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.client-job {
    color: rgba(209, 235, 235, 0.62);
    font-family: Public Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.client-para {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1.4rem;
}
.divider {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.264);
}

.client-txt {
    color: rgba(215, 228, 228, 0.7);
    font-family: Public Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.section-six {
    width: 100%;
    background-color: rgba(13, 2, 8, 1);
    padding: 6rem 0 2.25rem;
}

.section-six-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.rem 6.25rem;
}

.section-six-heading {
    color: rgba(209, 235, 235, 0.62);
    font-family: Roboto Serif, serif;
    font-size: 1.7rem;
    font-weight: 400;
}

.button {
    border-radius: 1rem;
    color: rgba(215, 228, 228, 1);
    padding: 1rem 2.25rem;
    font-family: Public Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1.5px solid #91B5B633;
    background-color:black;
}